.colornavbar {
    background: transparent;
    background: url("../home/images/backgroundimage.jpeg") no-repeat fixed center;
}

.item {
    font-size: large;
}

.logout-icon {
    padding-top: 10.5px;
}

.navbar-img {
    height: 150px;
}